include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include ./funcverbnet/data/f_pattern.json
include ./funcverbnet/data/f_verb.json
include ./funcverbnet/data/functionality_category.json
include ./funcverbnet/data/phrase_pattern.json
include ./funcverbnet/data/semantic_role.json
include ./funcverbnet/data/verb.json

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
